/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/


#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
  positon:relative;
  
  overflow:visible;
  
}

#donut{
  position:absolute;
  right:696px;
  top:213px;
}

#box{
  position:absolute;
  right:540px;

}

